#!/usr/bin/env xdg-open
[Desktop Entry]
Comment[es_ES]=Ejecutar Script eyewitness.sh
Exec=sh /home/xunil/XunilTools/aplicaciones/eyewitness.sh
GenericName[es_ES]=
Icon=/home/xunil/XunilTools/aplicaciones/iconos/eyewitness.png
MimeType=
Name[es_ES]=EyeWitNess
Path=/home/xunil/XunilTools/EyeWitness/Python
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
