#!/usr/bin/env xdg-open
[Desktop Entry]
Comment[es_ES]=Ejecutar Script reconng.sh
Exec=sh /home/xunil/XunilTools/aplicaciones/reconng.sh
GenericName[es_ES]=
Icon=/home/xunil/XunilTools/aplicaciones/iconos/reconng.png
MimeType=
Name[es_ES]=Recon-Ng
Path=/home/xunil/XunilTools/aplicaciones
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
