#!/usr/bin/env xdg-open
[Desktop Entry]
Comment[es_ES]=Ejecutar Script TheHavester.sh
Exec=sh /home/xunil/XunilTools/aplicaciones/TheHarvester.sh
GenericName[es_ES]=
Icon=/home/xunil/XunilTools/aplicaciones/iconos/theharvester.jpg
MimeType=
Name[es_ES]=TheHarvester
Path=/home/xunil/XunilTools/aplicaciones
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
