[Desktop Entry]
Version=1.0
Name=OSINT Framework
Comment=Aplicación web
Exec=sh -c 'XAPP_FORCE_GTKWINDOW_ICON="/home/xunil/XunilTools/aplicaciones/iconos/osintframework.png" firefox --class WebApp-OSINTFramework6358 --name WebApp-OSINTFramework6358 --profile /home/xunil/.local/share/ice/firefox/OSINTFramework6358 --no-remote "https://osintframework.com/"'
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/xunil/XunilTools/aplicaciones/iconos/osintframework.png
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-OSINTFramework6358
StartupNotify=true
X-WebApp-Browser=Firefox
X-WebApp-URL=https://osintframework.com/
X-WebApp-CustomParameters=
X-WebApp-Navbar=true
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
