[Desktop Entry]
Version=1.0
Name=Archive ORG
Comment=Aplicación web
Exec=sh -c 'XAPP_FORCE_GTKWINDOW_ICON="/home/xunil/XunilTools/aplicaciones/iconos/ArchiveOrg.PNG" firefox --class WebApp-ArchiveORG0592 --name WebApp-ArchiveORG0592 --profile /home/xunil/.local/share/ice/firefox/ArchiveORG0592 --no-remote "https://archive.org/"'
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/xunil/XunilTools/aplicaciones/iconos/ArchiveOrg.PNG
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-ArchiveORG0592
StartupNotify=true
X-WebApp-Browser=Firefox
X-WebApp-URL=https://archive.org/
X-WebApp-CustomParameters=
X-WebApp-Navbar=true
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
