[Desktop Entry]
Version=1.0
Name=Rob Text
Comment=Aplicación web
Exec=sh -c 'XAPP_FORCE_GTKWINDOW_ICON="/home/xunil/XunilTools/aplicaciones/iconos/RoboText.png" firefox --class WebApp-RobText5149 --name WebApp-RobText5149 --profile /home/xunil/.local/share/ice/firefox/RobText5149 --no-remote "https://www.robtex.com/"'
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/xunil/XunilTools/aplicaciones/iconos/RoboText.png
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-RobText5149
StartupNotify=true
X-WebApp-Browser=Firefox
X-WebApp-URL=https://www.robtex.com/
X-WebApp-CustomParameters=
X-WebApp-Navbar=true
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
